{% extends "base.html" %}
{% load static %}
{% block title %}
Лента записей
{% endblock %}
{% block content %}
    <h1>Лента записей</h1>                        
    <hr>
    <article>
      <ul>
        {% for post in blog %}
        <hr>
        <li>
          Место: {{ post.location }}              
        </li>
        <li>
          Дата: {{ post.date }}
        </li>
        <li>
          Категория:  <a href="{% url 'blog:category_posts' category_slug=post.category %}">{{ post.category }}</a>
        </li>
      </ul>          
      <p>
        {{ post.text|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
      {% endfor %}
  </ul>
</article>            
{% endblock %}